body {
 -webkit-text-size-adjust : none;
}

.hpc {
	display          : block;
}

.hsp,
.hspI {
	display          : none !important;
}

#gNavList,
#hNav02 {
	border-top       : solid 1px #cccccc;
	margin           : 0px 0px 10px 0px;
}


#gNavList li,
#hNav02 li {
	overflow         : hidden;
	border-top       : solid 1px #cccccc;
	border-bottom    : solid 1px #cccccc;
	border-top-color : #fefefe;
	color            : #333;
}

#hNav02 li {
	background-image : -moz-linear-gradient(top, #fff, #ebebeb);
	background-image : -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ebebeb));
	background-image : -o-linear-gradient(top, #fff, #ebebeb);
	background-image : linear-gradient(top, #fff, #ebebeb);
}

#gNavList li {
	background-image : -moz-linear-gradient(top, #fefefe, #f1f1f1);
	background-image : -webkit-gradient(linear, center top, center bottom, from(#fefefe), to(#f1f1f1));
	background-image : -o-linear-gradient(top, #fefefe, #f1f1f1);
	background-image : linear-gradient(top, #fefefe, #f1f1f1);
}


#gNavList li a,
#hNav02 li a {
	background       : url(../images/sp/link_arrow.png) no-repeat 100% 50%;
	padding          : 15px 20px;
	display          : block;
	color            : #333;
	text-decoration  : none;
}

#hNav02 li a {
	padding          : 5px 20px;
}

#gNavList li a span {
	font-size        : 18px;
	font-weight      : bold;
	display          : block;
}

#headerArea {
 background        : url(../images/bg_headerarea.jpg);
 text-align        : center;
 padding           : 5px 0px;
 margin            : 0px 0px 10px 0px;
}

#headerArea img {
 margin            : 5px;
}

#indexVisual {
 text-align        : center;
 border-bottom     : 3px solid #be1823;
 padding           : 10px 0px 20px 0px;
}

#indexVisual img {
 width             : 80%;
}

.sp90PCenter {
 width             : 90%;
 margin-left       : auto !important;
 margin-right      : auto !important;
}

.sp95PCenter {
 width             : 95%;
 margin-left       : auto !important;
 margin-right      : auto !important;
}

.sp90CenterImg {
 text-align        : center !important;
}

.sp90CenterImg img {
 width             : 90%;
}

.discList {
 width             : 97%;
 margin            : 0 auto;
}

.w95PCenter {
 width             : 95%;
 margin            : 0 auto;
}

.w97PCenter {
 width             : 97%;
 margin            : 0 auto;
}

#enpit {
 background-image    : none;
 text-align          : center;
 margin              : 15px 0px;
}

.transparentTab {
 width           : 95%;
 margin          : 0 auto;
}

.transparentTab tr th {
 text-align      : left;
 color           : #be1823;
 padding         : 0px 0px 3px 0px;
 width           : 7em;
 vertical-align  : middle;
}

.transparentTab tr td {
 vertical-align  : middle;
}

.bdLeftTt {
 border-left     : 8px solid #be1823;
 font-weight     : bold;
 padding         : 5px 8px;
 margin          : 0px auto 10px;
}

.indexH2 {
 width             : 97%;
 margin            : 0 auto;
 border-bottom     : 4px solid #be1823;
 overflow          : hidden;
}

.indexH2 h2 {
 width           : 40%;
 float           : left;
}

.indexH2 a {
 width           : 40%;
 float           : right;
 display         : block;
 text-align      : right;
 padding         : 3px 0px 0px 0px;
 background      : none;
 font-weight     : bold;
 color           : #000 !important;
}

.indexH2 a:hover {
 background      : url(../images/ic_arrow_01_on.gif) no-repeat 346px 6px;
 text-decoration : none;
}

.applicationTab {
 width           : 97%;
 margin          : 0 auto;
 border-top      : 1px solid #be1823;
}

.applicationTab tr th {
 width           : 80px;
 background      : #f1d6c9;
 padding         : 10px;
 border-bottom   : 1px solid #be1823;
}

.applicationTab tr td {
 padding         : 10px;
 border-bottom   : 1px solid #be1823;
}

.bdDtd {
 border-bottom   : 1px dashed #e7a7ab !important;
}

.bdNone {
 border          : none !important;
}

.inlineListSp dt,
.inlineListSp dd {
 display         : block !important;
}

.programFlow {
 background      : url(../images/ic_arrow.gif) no-repeat center bottom;
 padding         : 0px 0px 56px 0px;
 margin          : 0px auto 10px;
 width           : 97%;
}

.programFlowTab {
 width           : 100%;
 border          : 1px solid #be1823;
}

.programFlowTab tr th {
 background      : url(../images/bg_th.jpg) repeat-y center;
 width           : 100px;
 font-size       : 1.0em;
 color           : #fff;
}

.programFlowTab tr td {
 padding         : 10px;
}

.inlineDiscList li {
 background      : url(../images/ic_disc.gif) no-repeat 0 6px;
 padding         : 0px 0px 0px 15px;
}

.imgBtnSp li span {
 background      : url(../images/ic_breadcrumbs.gif) no-repeat 0 7px;
 padding         : 0px 0px 0px 15px;
}

#footerArea {
 border-top      : 2px solid #be1823;
}

#copy {
 text-align      : center;
 padding         : 10px 0px;
 font-size       : 0.6em;
}

#breadcrumbsList {
 padding         : 0px 0px 8px 0px;
 font-size       : 1.0em;
}


















.curriculumTab01,
.curriculumTab02 {
 width           : 95%;
 margin-right    : auto;
 margin-left     : auto;
 border-top      : 1px solid #be1823;
}

.curriculumTab01 tr th,
.curriculumTab02 tr th {
 background      : #efefef;
 text-align      : left;
 padding         : 5px;
 color           : #be1823;
 border-right    : 1px solid #be1823;
 border-bottom   : 1px solid #be1823;
}

.curriculumTab01 tr th {
 width           : 100px;
}
.curriculumTab02 tr th {
 width           : 100px;
 vertical-align  : top;
}

.curriculumTab01 tr td img {
 width           : 80px;
}

.curriculumTab02 tr td img {
 width           : 150px;
}

.curriculumTab02 tr td {
 padding         : 5px;
 text-align      : left;
 border-right    : none;
}









/***********************************************
  link
***********************************************/

/* breadcrumbsList */
#breadcrumbsList a:link,
#breadcrumbsList a:visited,
#breadcrumbsList a:hover {
 color           : #000;
 text-decoration : underline;
}
#breadcrumbsList a:hover {
 text-decoration : none;
}
/* breadcrumbsList */

/* default */
a:link,
a:visited,
a:hover {
 color           : #000;
 text-decoration : underline;
}
a:hover {
 text-decoration : none;
}
/* default */



/***********************************************
  other
***********************************************/

.bold,
.boldSp   { font-weight : bold; }
.normal,
.normalSp { font-weight : normal;}

table {
 border-collapse : collapse;
}

.mtb20  { margin: 20px 0px; }
.mb10   { margin-bottom: 10px; }
.mb15,
.mb15sp { margin-bottom: 15px; }
.mb30   { margin-bottom: 30px; }




.bdRed     { border : 1px solid #be1823; }
.p8        { padding :  8px; }
.p10       { padding : 10px; }
.alCenter  { text-align: center; }

.sphome {
	margin: 0 auto 10px;
}
	


